<a href="https://colab.research.google.com/github/Rogerio-mack/data-engineering/blob/main/how_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apache Spark

O Apache Spark é uma ferramenta de processamento de dados em grande escala para executar análises complexas de forma eficiente distribuindo o processamento em clusters de computadores.

O Spark mantém os dados para processamento em memória, mas pode se conectar a vários tipos de fontes de dados, incluindo:

* Sistemas de arquivos: HDFS, S3, local
* Bancos de dados relacionais: MySQL, PostgreSQL, Oracle
* Bancos de dados NoSQL: Cassandra, MongoDB
* Formatos de dados: CSV, JSON, Parquet, Avro
* Streaming: Kafka, Flume

Para isso o Spark utiliza conectores específicos para cada tipo de dado. Esses conectores são responsáveis por ler os dados da fonte e transformá-los em RDDs (Resilient Distributed Datasets) ou DataFrames, as estruturas de dados básicas do Spark.

Os RDDs podem ser particionados em diferentes "executers" do Spark (diferentes máquinas) que mantem um processo principal ("driver") para coordenar a execução dos diferentes nós. Essas configurações são feitas através de ferramentas como o Spark Submit ou através gerenciadores de cluster como YARN ou Mesos.

# PySpark

O PySpark é, basicamente, uma interface do Apache Spark para a linguagem Python. Ele oferece acesso a quase todas as funcionalidades do Spark, incluindo o Spark SQL, suporte a dataframes Spark e RDDs, conexão com diferentes bases de dados e configurações (interface para interagir com o YARN) etc.

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=02d346793fc9668db8d028d285773af96cc0cfcc6725297f2778837887c9a293
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
!wget https://files.grouplens.org/datasets/movielens/ml-20m.zip

--2024-09-11 01:25:51--  https://files.grouplens.org/datasets/movielens/ml-20m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198702078 (189M) [application/zip]
Saving to: ‘ml-20m.zip’

ml-20m.zip          100%[===================>] 189.50M   142MB/s    in 1.3s

2024-09-11 01:25:52 (142 MB/s) - ‘ml-20m.zip’ saved [198702078/198702078]

In [ ]:
!unzip ml-20m.zip

Archive:  ml-20m.zip
   creating: ml-20m/
  inflating: ml-20m/genome-scores.csv
  inflating: ml-20m/genome-tags.csv
  inflating: ml-20m/links.csv
  inflating: ml-20m/movies.csv
  inflating: ml-20m/ratings.csv
  inflating: ml-20m/README.txt
  inflating: ml-20m/tags.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/ml-20m/movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Iniciando uma sessão do `Pyspark`

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
# spark = SparkSession.builder.appName("MyAppName").getOrCreate()

## Lendo um `dataframe` `Pyspark`

In [ ]:
movies_with_genres_df = spark.read.csv("/content/ml-20m/movies.csv", header=True, inferSchema=True)
movies_with_genres_df.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

## Schemas `Pyspark`

In [ ]:
from pyspark.sql.types import *
#working only on movies.csv right now
movies_with_genres_df_schema = StructType(
  [StructField('ID', IntegerType()),
   StructField('title', StringType()),
   StructField('genres',StringType())]
  )

movies_df_schema = StructType(
  [StructField('ID', IntegerType()),
   StructField('title', StringType())]
  ) #dropping

In [ ]:
movies_with_genres_df = spark.read.csv("/content/ml-20m/movies.csv", header=True, schema=movies_with_genres_df_schema)
movies_with_genres_df.show(5)

+---+--------------------+--------------------+
| ID|               title|              genres|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Adventure|Animati...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|Comedy|Drama|Romance|
|  5|Father of the Bri...|              Comedy|
+---+--------------------+--------------------+
only showing top 5 rows

In [ ]:
movies_df = spark.read.csv("/content/ml-20m/movies.csv", header=True, schema=movies_df_schema)
movies_df.show(5)

+---+--------------------+
| ID|               title|
+---+--------------------+
|  1|    Toy Story (1995)|
|  2|      Jumanji (1995)|
|  3|Grumpier Old Men ...|
|  4|Waiting to Exhale...|
|  5|Father of the Bri...|
+---+--------------------+
only showing top 5 rows

In [ ]:
movies_df.printSchema()
movies_with_genres_df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- title: string (nullable = true)

root
 |-- ID: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

# De Para: `Pandas` 2 `PySpark`

In [ ]:
movies_with_genres_df.columns

['ID', 'title', 'genres']

In [ ]:
movies_with_genres_df.count()

(27278, 1, StorageLevel(False, False, False, False, 1))

 | Operação                      | Pandas                          | PySpark                                                                   | Observações                                                               |
|-------------------------------|---------------------------------|---------------------------------------------------------------------------|---------------------------------------------------------------------------|
| Criação                       | pd.DataFrame(data)              | spark.createDataFrame(data)                                               | data pode ser uma lista de listas, um dicionário ou um Pandas DataFrame.  |
| Verificar shape               | df.shape                        | df.count(), len(df.columns)                                               | Retorna (número de linhas, número de colunas).                            |
| Verificar valores ausentes    | df.isnull().sum()               | df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show() | Conta valores ausentes por coluna.                                        |
| Seleção de Colunas            | df['coluna']                    | df['coluna'] ou df.col('coluna')                                          | Sintaxe similar, mas PySpark DataFrame é imutável.                        |
| Seleção de Linhas por rótulo  | df.loc[rótulo]                  | Não diretamente análogo. Use filter ou where para condições.              | PySpark não tem um índice como o Pandas.                                  |
| Seleção de Linhas por posição | df.iloc[índice]                 | Não diretamente análogo. Use take para selecionar linhas por posição.     |                                                                           |
| Filtragem                     | df[df['coluna'] > valor]        | df.filter(df['coluna'] > valor)                                           | A filtragem em PySpark é feita com base em condições.                     |
| Agrupamento                   | df.groupby('coluna').mean()     | df.groupBy('coluna').mean()                                               | Sintaxe similar, mas o PySpark DataFrame é distribuído.                   |
| Agregação                     | df.sum(), df.mean(), df.count() | df.agg({'coluna': 'sum'}), df.agg({'coluna': 'mean'}), df.count()         | O PySpark oferece mais flexibilidade para combinar diferentes agregações. |

In [ ]:
# Selecionando apenas as colunas "ID" e "title"
df_selected = movies_with_year_df.select("ID", "title")

df_selected.show(5)

+---+--------------------+
| ID|               title|
+---+--------------------+
|  1|    Toy Story (1995)|
|  2|      Jumanji (1995)|
|  3|Grumpier Old Men ...|
|  4|Waiting to Exhale...|
|  5|Father of the Bri...|
+---+--------------------+
only showing top 5 rows

In [ ]:
df_filtered = movies_with_year_df.filter(movies_with_year_df.year == 1990)

df_filtered.show(5)

+---+--------------------+----+
| ID|               title|year|
+---+--------------------+----+
|586|   Home Alone (1990)|1990|
|587|        Ghost (1990)|1990|
|590|Dances with Wolve...|1990|
|597| Pretty Woman (1990)|1990|
|625|  Asfour Stah (1990)|1990|
+---+--------------------+----+
only showing top 5 rows

In [ ]:
df_filtered = movies_with_year_df.filter(movies_with_year_df.year == 1990).select("ID", "title")

df_filtered.show(5)

+---+--------------------+
| ID|               title|
+---+--------------------+
|586|   Home Alone (1990)|
|587|        Ghost (1990)|
|590|Dances with Wolve...|
|597| Pretty Woman (1990)|
|625|  Asfour Stah (1990)|
+---+--------------------+
only showing top 5 rows

In [ ]:

df_filtered = movies_with_year_df.where(movies_with_year_df.ID > 500)

df_filtered.show(5)

+---+--------------------+----+
| ID|               title|year|
+---+--------------------+----+
|501|        Naked (1993)|1993|
|502|Next Karate Kid, ...|1994|
|503| New Age, The (1994)|1994|
|504|    No Escape (1994)|1994|
|505|        North (1994)|1994|
+---+--------------------+----+
only showing top 5 rows

# RDD

**RDD (Resilient Distributed Dataset)**  é a unidade fundamental de dados no Spark. Essencialmente, um RDD é uma coleção imutável e distribuída de elementos que podem ser processados em paralelo em um cluster. Pense nele como uma lista gigante que pode ser dividida em pedaços e processados em diferentes máquinas.

In [ ]:
movies_with_genres_df.rdd.getNumPartitions(), movies_with_genres_df.rdd.getStorageLevel()

(1, StorageLevel(False, False, False, False, 1))

A API do DataFrame é mais fácil de empregar, mas não oferece todo o potencial do Spark. Ao converter um DataFrame em um RDD, você ganha acesso a um conjunto mais amplo de operações que podem não estar diretamente disponíveis na API de DataFrames. Essas operações geralmente envolvem transformações mais complexas funções de hash, operações com pares chave-valor (ReduceKey e CombineByKey), operações eficientes de conjuntos (distinct, union) etc. No entanto, é importante lembrar que as modificações feitas em um afetarão o outro, pois ambos referenciam o mesmo conjunto de dados.

In [ ]:
# Criando um DataFrame
df = spark.createDataFrame([(1, 5), (2, 7)], ["id", "value"])
df.show()

# Convertendo para RDD
rdd = df.rdd

# Aplicando uma transformação no RDD
rdd_squared = rdd.map(lambda x: (x[0], x[1] * x[1]))

# Convertendo o RDD de volta para DataFrame
df_squared = rdd_squared.toDF(["id", "value_squared"])

df_squared.show()

+---+-----+
| id|value|
+---+-----+
|  1|    5|
|  2|    7|
+---+-----+

+---+-------------+
| id|value_squared|
+---+-------------+
|  1|           25|
|  2|           49|
+---+-------------+

## Persistência

In [ ]:
from pyspark import StorageLevel

df = spark.range(0, 10)

# Persistir o DataFrame em memória
df.cache()

# Contando o número de linhas
count = df.count()
print(count)

# Persistir com um nível de persistência específico
df.persist(StorageLevel.DISK_ONLY)

10

DataFrame[id: bigint]

Embora o pyspark.StorageLevel.DISK_ONLY indique que os dados serão armazenados em disco, a localização exata desse arquivo não é fixa e pode variar. O mesmo pode ser aplicado aos rdds.

In [ ]:
df.unpersist()

# Particionamento

In [ ]:
# DataFrame de exemplo
data = [(1, "Alice", 25), (2, "Bob", 30), (3, "Charlie", 35)]
df = spark.createDataFrame(data, ["id", "name", "age"])

# Salvando o DataFrame em um bucket do Google Cloud Storage, particionado pela coluna "age"
# df.write.partitionBy("age").parquet("gs://meu-bucket/dados_particionados")

# Salvando local
df.write.partitionBy("age").parquet("/content/meu-bucket/dados_particionados")

In [ ]:
!ls /content/meu-bucket/dados_particionados

'age=25'  'age=30'  'age=35'   _SUCCESS

O Parquet é um formato de arquivo de dados colunares! Mas poderíamos ter empregado .csv, .json ou mesmo outros sistemas de arquivos.

In [ ]:
# Salvando local
movies_with_year_df.write.partitionBy("year").parquet("/content/meu-bucket/movies")

In [ ]:
!ls /content/meu-bucket/movies

 _SUCCESS    'year=1917'  'year=1938'  'year=1959'  'year=1980'  'year=2001'
'year=06'    'year=1918'  'year=1939'  'year=1960'  'year=1981'  'year=2002'
'year=1891'  'year=1919'  'year=1940'  'year=1961'  'year=1982'  'year=2003'
'year=1893'  'year=1920'  'year=1941'  'year=1962'  'year=1983'  'year=2004'
'year=1894'  'year=1921'  'year=1942'  'year=1963'  'year=1984'  'year=2005'
'year=1895'  'year=1922'  'year=1943'  'year=1964'  'year=1985'  'year=2006'
'year=1896'  'year=1923'  'year=1944'  'year=1965'  'year=1986'  'year=2007'
'year=1898'  'year=1924'  'year=1945'  'year=1966'  'year=1987'  'year=2008'
'year=1899'  'year=1925'  'year=1946'  'year=1967'  'year=1988'  'year=2009'
'year=1900'  'year=1926'  'year=1947'  'year=1968'  'year=1989'  'year=2010'
'year=1901'  'year=1927'  'year=1948'  'year=1969'  'year=1990'  'year=2011'
'year=1902'  'year=1928'  'year=1949'  'year=1970'  'year=1991'  'year=2012'
'year=1903'  'year=1929'  'year=1950'  'year=1971'  'year=1992'  'year=2013'
'year=1905'  'year=1930'  'year=1951'  'year=1972'  'year=1993'  'year=2014'
'year=1909'  'year=1931'  'year=1952'  'year=1973'  'year=1994'  'year=2015'
'year=1910'  'year=1932'  'year=1953'  'year=1974'  'year=1995'  'year=500'
'year=1912'  'year=1933'  'year=1954'  'year=1975'  'year=1996'  'year=69'
'year=1913'  'year=1934'  'year=1955'  'year=1976'  'year=1997'  'year=__HIVE_DEFAULT_PARTITION__'
'year=1914'  'year=1935'  'year=1956'  'year=1977'  'year=1998'
'year=1915'  'year=1936'  'year=1957'  'year=1978'  'year=1999'
'year=1916'  'year=1937'  'year=1958'  'year=1979'  'year=2000'

In [ ]:
spark.conf.set("spark.default.parallelism", 3)

In [ ]:
from pyspark.sql.functions import split, regexp_extract

movies_with_year_df = movies_df.select('ID','title',regexp_extract('title',r'\((\d+)\)',1).alias('year'))
movies_with_year_df.show(5)

+---+--------------------+----+
| ID|               title|year|
+---+--------------------+----+
|  1|    Toy Story (1995)|1995|
|  2|      Jumanji (1995)|1995|
|  3|Grumpier Old Men ...|1995|
|  4|Waiting to Exhale...|1995|
|  5|Father of the Bri...|1995|
+---+--------------------+----+
only showing top 5 rows

Comandos comuns de RDD:

* `map`: Aplica uma função a cada elemento do RDD.
* `filter`: Filtra elementos com base em uma condição.
* `flatMap`: Aplica uma função a cada elemento e achata o resultado.
* `reduceByKey`: Agrupa elementos por chave e aplica uma função de redução.
* `join`: Junta dois RDDs com base em uma chave comum.
* `sortByKey`: Ordena um RDD por chave.
* `collect`: Traz todos os dados de volta para o driver.

In [ ]:
# Extraindo a coluna title e convertendo para RDD
titles_rdd = movies_with_genres_df.select("title").rdd.flatMap(lambda x: x[0].split(" "))

# Contando as palavras
word_counts = titles_rdd.map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b)

# Mostrando os resultados
word_counts.collect()

[('Toy', 11),
 ('Story', 195),
 ('(1995)', 474),
 ('Jumanji', 1),
 ('Grumpier', 1),
 ('Old', 46),
 ('Men', 104),
 ('Waiting', 13),
 ('to', 642),
 ('Exhale', 1),
 ('Father', 33),
 ('of', 3152),
 ('the', 2982),
 ('Bride', 33),
 ('Part', 73),
 ('II', 94),
 ('Heat', 15),
 ('Sabrina', 2),
 ('Tom', 23),
 ('and', 1050),
 ('Huck', 2),
 ('Sudden', 5),
 ('Death', 130),
 ('GoldenEye', 1),
 ('American', 132),
 ('President,', 4),
 ('The', 6301),
 ('Dracula:', 3),
 ('Dead', 175),
 ('Loving', 8),
 ('It', 133),
 ('Balto', 1),
 ('Nixon', 4),
 ('Cutthroat', 1),
 ('Island', 57),
 ('Casino', 6),
 ('Sense', 7),
 ('Sensibility', 2),
 ('Four', 52),
 ('Rooms', 4),
 ('Ace', 9),
 ('Ventura:', 2),
 ('When', 59),
 ('Nature', 9),
 ('Calls', 5),
 ('Money', 43),
 ('Train', 36),
 ('Get', 56),
 ('Shorty', 1),
 ('Copycat', 1),
 ('Assassins', 8),
 ('Powder', 5),
 ('Leaving', 4),
 ('Las', 10),
 ('Vegas', 12),
 ('Othello', 4),
 ('Now', 36),
 ('Then', 11),
 ('Persuasion', 4),
 ('City', 119),
 ('Lost', 97),
 ('Children,', 5),
 ('(Cité', 1),
 ('des', 70),
 ('enfants', 3),
 ('perdus,', 1),
 ('La)', 114),
 ('Shanghai', 15),
 ('Triad', 3),
 ('(Yao', 1),
 ('a', 638),
 ('yao', 2),
 ('dao', 2),
 ('waipo', 1),
 ('qiao)', 1),
 ('Dangerous', 30),
 ('Minds', 5),
 ('Twelve', 9),
 ('Monkeys', 5),
 ('(a.k.a.', 334),
 ('12', 13),
 ('Monkeys)', 1),
 ('Wings', 14),
 ('Courage', 6),
 ('Babe', 2),
 ('Carrington', 1),
 ('Man', 324),
 ('Walking', 17),
 ('Across', 19),
 ('Sea', 57),
 ('Time', 152),
 ('Takes', 20),
 ('Two', 97),
 ('Clueless', 1),
 ('Cry,', 3),
 ('Beloved', 8),
 ('Country', 34),
 ('Richard', 13),
 ('III', 39),
 ('Presidents', 2),
 ('Restoration', 1),
 ('Mortal', 5),
 ('Kombat', 1),
 ('To', 59),
 ('Die', 60),
 ('For', 61),
 ('How', 71),
 ('Make', 21),
 ('an', 46),
 ('Quilt', 2),
 ('Seven', 40),
 ('Se7en)', 1),
 ('Pocahontas', 2),
 ('Night', 215),
 ('Is', 195),
 ('Falling', 9),
 ('Usual', 2),
 ('Suspects,', 1),
 ('Guardian', 1),
 ('Angel', 36),
 ('(1994)', 431),
 ('Mighty', 13),
 ('Aphrodite', 1),
 ('Lamerica', 1),
 ('Big', 139),
 ('Green,', 4),
 ('Georgia', 2),
 ('Kids', 21),
 ('Round', 7),
 ('Table', 7),
 ('Home', 72),
 ('for', 292),
 ('Holidays', 3),
 ('Postman,', 2),
 ('(Postino,', 1),
 ('Il)', 22),
 ('Confessional,', 1),
 ('(Confessionnal,', 1),
 ('Le)', 73),
 ('Indian', 8),
 ('in', 901),
 ('Cupboard,', 1),
 ('Eye', 35),
 ('(1996)', 509),
 ('Mr.', 99),
 ("Holland's", 1),
 ('Opus', 1),
 ("Don't", 70),
 ('Be', 71),
 ('Menace', 6),
 ('South', 22),
 ('Central', 10),
 ('While', 6),
 ('Drinking', 4),
 ('Your', 103),
 ('Juice', 3),
 ('Hood', 15),
 ('if', 1),
 ('by', 75),
 ('Bio-Dome', 1),
 ('Lawnmower', 2),
 ('2:', 116),
 ('Beyond', 58),
 ('Cyberspace', 1),
 ('Bits', 1),
 ('French', 15),
 ('Twist', 9),
 ('(Gazon', 1),
 ('maudit)', 1),
 ('Friday', 23),
 ('From', 66),
 ('Dusk', 4),
 ('Till', 6),
 ('Dawn', 33),
 ('Fair', 10),
 ('Game', 46),
 ('Kicking', 2),
 ('Screaming', 8),
 ('Misérables,', 9),
 ('Les', 35),
 ('Bed', 6),
 ('Roses', 9),
 ('Bully', 3),
 ('Screamers', 2),
 ('Nico', 2),
 ('Icon', 2),
 ('Crossing', 10),
 ('Guard,', 3),
 ('Juror,', 1),
 ('White', 111),
 ('Balloon,', 3),
 ('(Badkonake', 1),
 ('sefid)', 1),
 ('Things', 32),
 ('Do', 36),
 ('Denver', 1),
 ("You're", 18),
 ("Antonia's", 1),
 ('Line', 18),
 ('(Antonia)', 1),
 ('Once', 36),
 ('Upon', 27),
 ('Time...', 1),
 ('We', 85),
 ('Were', 26),
 ('Colored', 2),
 ('Last', 212),
 ('Summer', 77),
 ('Hamptons', 1),
 ('Angels', 40),
 ('Insects', 1),
 ('Squall', 1),
 ('Dunston', 1),
 ('Checks', 1),
 ('In', 157),
 ('Black', 140),
 ('Sheep', 6),
 ('Nick', 7),
 ('Journey', 44),
 ('August', 14),
 ('King,', 14),
 ('Mary', 21),
 ('Reilly', 1),
 ('Vampire', 31),
 ('Brooklyn', 11),
 ('Beautiful', 45),
 ('Girls', 76),
 ('Broken', 26),
 ('Arrow', 3),
 ('Bleak', 4),
 ('Midwinter', 1),
 ('Hate', 11),
 ('(Haine,', 1),
 ('Shopping', 3),
 ('Heidi', 2),
 ('Fleiss:', 1),
 ('Hollywood', 34),
 ('Madam', 4),
 ('Hall', 11),
 ('Bottle', 4),
 ('Rocket', 8),
 ('Wrong', 28),
 ('Unforgettable', 2),
 ('Happy', 44),
 ('Gilmore', 1),
 ('Bridges', 4),
 ('Madison', 6),
 ('County,', 1),
 ('Nobody', 16),
 ('Loves', 12),
 ('Me', 197),
 ('(Keiner', 1),
 ('liebt', 2),
 ('mich)', 1),
 ('Muppet', 8),
 ('Treasure', 21),
 ('Catwalk', 1),
 ('Headless', 2),
 ('Body', 31),
 ('Topless', 2),
 ('Bar', 7),
 ('Braveheart', 1),
 ('Taxi', 12),
 ('Driver', 2),
 ('(1976)', 199),
 ('Rumble', 7),
 ('Bronx', 6),
 ('(Hont', 1),
 ('faan', 1),
 ('kui)', 2),
 ('Before', 46),
 ('After', 53),
 ("Margaret's", 1),
 ('Museum', 7),
 ('Happiness', 15),
 ('Field', 7),
 ('(Bonheur', 1),
 ('est', 18),
 ('dans', 11),
 ('le', 36),
 ('pré,', 1),
 ('Anne', 9),
 ('Frank', 12),
 ('Remembered', 3),
 ('Young', 63),
 ("Poisoner's", 1),
 ('Handbook,', 1),
 ('If', 34),
 ('Lucy', 5),
 ('Fell', 5),
 ('Steal', 8),
 ('Big,', 2),
 ('Little', 149),
 ('Race', 13),
 ('Sun', 48),
 ('Boys', 53),
 ('St.', 24),
 ('Vincent,', 1),
 ('(1992)', 335),
 ('Boomerang', 2),
 ('Chungking', 1),
 ('Express', 20),
 ('(Chung', 1),
 ('Hing', 2),
 ('sam', 1),
 ('lam)', 1),
 ('Star', 59),
 ('Maker,', 1),
 ('(Uomo', 1),
 ('delle', 7),
 ('stelle,', 1),
 ("L')", 29),
 ('Flirting', 2),
 ('With', 25),
 ('Disaster', 8),
 ('NeverEnding', 3),
 ('III,', 8),
 ('Silences', 1),
 ('Palace,', 2),
 ('(Saimt', 1),
 ('el', 18),
 ('Qusur)', 1),
 ("Jupiter's", 2),
 ('Wife', 22),
 ('Pie', 16),
 ('Sky', 35),
 ('Angela', 2),
 ('Frankie', 6),
 ('Starlight', 2),
 ('Jade', 3),
 ('Nueba', 1),
 ('Yol', 2),
 ('Sonic', 1),
 ('Outlaws', 3),
 ('Down', 61),
 ('Periscope', 2),
 ('Journals', 3),
 ('Jean', 6),
 ('Seberg', 1),
 ('Year', 55),
 ('Neon', 5),
 ('Bible,', 3),
 ('Target', 9),
 ('Up', 92),
 ('Close', 12),
 ('Personal', 10),
 ('Birdcage,', 1),
 ('Shadows', 31),
 ('(Cienie)', 1),
 ('(1988)', 325),
 ('Gospa', 1),
 ('Brothers', 34),
 ('McMullen,', 1),
 ('Bad', 80),
 ('Amazing', 18),
 ('Panda', 4),
 ('Adventure,', 8),
 ('Basketball', 2),
 ('Diaries,', 6),
 ('Awfully', 1),
 ('An', 86),
 ('Amateur', 1),
 ('Apollo', 5),
 ('13', 26),
 ('Rob', 3),
 ('Roy', 3),
 ('Addiction,', 1),
 ('Batman', 13),
 ('Forever', 30),
 ('Beauty', 32),
 ('Day', 145),
 ('(Belle', 3),
 ('de', 333),
 ('jour)', 2),
 ('(1967)', 173),
 ('Rangoon', 1),
 ('Blue', 91),
 ('Face', 28),
 ('Canadian', 1),
 ('Bacon', 1),
 ('Casper', 2),
 ('Clockers', 1),
 ('Congo', 2),
 ('Crimson', 10),
 ('Tide', 6),
 ('Crumb', 1),
 ('Desperado', 2),
 ('Devil', 49),
 ('Dress', 2),
 ('Hard:', 2),
 ('Vengeance', 16),
 ('Doom', 5),
 ('Generation,', 3),
 ('Feast', 10),
 ('July', 7),
 ('First', 75),
 ('Knight', 14),
 ('Free', 31),
 ('Willy', 4),
 ('Adventure', 30),
 ('Hackers', 1),
 ('Jeffrey', 2),
 ('Johnny', 29),
 ('Mnemonic', 1),
 ('Judge', 4),
 ('Dredd', 2),
 ('Jury', 4),
 ('Duty', 3),
 ('Living', 66),
 ('Oblivion', 5),
 ('Lord', 21),
 ('Illusions', 2),
 ('Love', 321),
 ('&', 272),
 ('Human', 36),
 ('Remains', 4),
 ('(1993)', 371),
 ('Mad', 29),
 ('Mallrats', 1),
 ('Morphin', 1),
 ('Power', 28),
 ('Rangers:', 2),
 ('Movie', 130),
 ('Moonlight', 11),
 ('Valentino', 2),
 ('Mute', 1),
 ('Witness', 8),
 ('Nadja', 1),
 ('Net,', 2),
 ('Nine', 20),
 ('Months', 1),
 ('Party', 38),
 ('Girl', 154),
 ('Prophecy,', 1),
 ('Reckless', 5),
 ('Safe', 13),
 ('Scarlet', 13),
 ('Letter,', 12),
 ('Show,', 6),
 ('Showgirls', 1),
 ('Smoke', 9),
 ('Something', 24),
 ('Talk', 18),
 ('About', 76),
 ('Species', 5),
 ('Stars', 27),
 ('on', 302),
 ('Henrietta,', 1),
 ('Strange', 33),
 ('Days', 101),
 ('Umbrellas', 1),
 ('Cherbourg,', 2),
 ('(Parapluies', 1),
 ('Les)', 46),
 ('(1964)', 173),
 ('Tie', 4),
 ('That', 93),
 ('Binds,', 1),
 ('Three', 83),
 ('Wishes', 2),
 ('Total', 3),
 ('Eclipse', 2),
 ('Wong', 2),
 ('Foo,', 1),
 ('Thanks', 2),
 ('Everything!', 1),
 ('Julie', 8),
 ('Newmar', 1),
 ('Under', 56),
 ('Siege', 10),
 ('Dark', 107),
 ('Territory', 6),
 ('Unstrung', 1),
 ('Heroes', 14),
 ('Unzipped', 1),
 ('Walk', 25),
 ('Clouds,', 1),
 ('A', 757),
 ('Waterworld', 1),
 ("Man's", 20),
 ('Burden', 3),
 ('Wild', 90),
 ('Bill', 26),
 ('Browning', 2),
 ('Version,', 2),
 ('Bushwhacked', 1),
 ('Burnt', 4),
 ('(Utomlyonnye', 2),
 ('solntsem)', 1),
 ('Rain', 23),
 ('(Pred', 1),
 ('dozhdot)', 1),
 ('Sunrise', 3),
 ('Billy', 16),
 ('Babysitter,', 1),
 ('Side', 30),
 ('Cure,', 2),
 ('Castle', 27),
 ('Freak', 2),
 ('Circle', 16),
 ('Friends', 27),
 ('Clerks', 2),
 ('Don', 22),
 ('Juan', 4),
 ('DeMarco', 1),
 ('Disclosure', 1),
 ('Dream', 50),
 ('Drop', 4),
 ('Zone', 13),
 ('Destiny', 9),
 ('Turns', 1),
 ('Radio', 13),
 ('Maiden', 2),
 ('Dolores', 1),
 ('Claiborne', 1),
 ('Dumb', 3),
 ('Dumber', 2),
 ('(Dumb', 1),
 ('Dumber)', 1),
 ('Eat', 14),
 ('Drink', 5),
 ('Woman', 85),
 ('(Yin', 2),
 ('shi', 16),
 ('nan', 3),
 ('nu)', 4),
 ('Exotica', 1),
 ('Exit', 11),
 ('Eden', 16),
 ('Ed', 6),
 ('Wood', 8),
 ('Kiss', 50),
 ('Forget', 9),
 ('Paris', 38),
 ('Far', 19),
 ('Home:', 2),
 ('Adventures', 62),
 ('Yellow', 15),
 ('Dog', 45),
 ('Goofy', 4),
 ('Movie,', 31),
 ('Hideaway', 2),
 ('Fluke', 1),
 ('Farinelli:', 1),
 ('il', 9),
 ('castrato', 1),
 ('Gordy', 1),
 ('Gumby:', 1),
 ('Glass', 21),
 ('Shield,', 1),
 ('Hoop', 2),
 ('Dreams', 34),
 ('Heavenly', 6),
 ('Creatures', 7),
 ('Houseguest', 1),
 ('Immortal', 4),
 ('Heavyweights', 1),
 ('(Heavy', 1),
 ('Weights)', 1),
 ('Hunted,', 3),
 ('I.Q.', 1),
 ('Interview', 6),
 ('with', 199),
 ('Vampire:', 1),
 ('Chronicles', 13),
 ('Jefferson', 2),
 ('Jerky', 1),
 ('Boys,', 11),
 ('Junior', 3),
 ('Just', 45),
 ('Cause', 4),
 ('Kid', 24),
 ('King', 102),
 ("Arthur's", 3),
 ('Court,', 2),
 ('Wars:', 8),
 ('Episode', 9),
 ('IV', 9),
 ('-', 186),
 ('New', 122),
 ('Hope', 14),
 ('(1977)', 198),
 ('Women', 55),
 ('Princess,', 4),
 ('Ladybird', 2),
 ('Enfer,', 1),
 ("L'", 12),
 ('Like', 68),
 ('Water', 45),
 ('Chocolate', 10),
 ('(Como', 2),
 ('agua', 1),
 ('para', 9),
 ('chocolate)', 2),
 ('Legends', 6),
 ('Fall', 35),
 ('Major', 9),
 ('Payne', 2),
 ('Odessa', 2),
 ('My', 327),
 ('Crazy', 40),
 ('Life', 206),
 ('(Mi', 4),
 ('vida', 2),
 ('loca)', 1),
 ('Affair', 13),
 ('Losing', 3),
 ('Isaiah', 1),
 ('Madness', 10),
 ('George,', 3),
 ("Shelley's", 1),
 ('Frankenstein', 18),
 ('(Frankenstein)', 1),
 ('House', 128),
 ('Mixed', 2),
 ('Nuts', 4),
 ('Milk', 6),
 ('Miracle', 18),
 ('34th', 2),
 ('Street', 76),
 ('Miami', 6),
 ('Rhapsody', 5),
 ('Family', 62),
 ('Murder', 49),
 ("Nobody's", 4),
 ('Fool', 10),
 ('Nell', 1),
 ('Jersey', 5),
 ('Drive', 13),
 ('York', 36),
 ('Cop', 25),
 ('(Nyû', 1),
 ('Yôku', 1),
 ('no', 189),
 ('koppu)', 1),
 ('Bedlam', 2),
 ('Nemesis', 3),
 ('Nebula', 1),
 ('Nina', 3),
 ('Lover', 8),
 ('Natural', 5),
 ('Born', 32),
 ('Killers', 10),
 ('Only', 31),
 ('You', 197),
 ('Warriors', 12),
 ('Poison', 8),
 ('Ivy', 3),
 ('Outbreak', 1),
 ('Léon:', 1),
 ('Professional', 2),
 ('Professional)', 1),
 ('(Léon)', 1),
 ('Perez', 1),
 ('Family,', 10),
 ("Pyromaniac's", 1),
 ('Story,', 47),
 ('Pulp', 2),
 ('Fiction', 4),
 ('Panther', 7),
 ('Pushing', 2),
 ('Hands', 21),
 ('(Tui', 2),
 ('shou)', 1),
 ('Priest', 7),
 ('Quiz', 1),
 ('Show', 19),
 ('Picture', 8),
 ('(Bijo', 2),
 ('photo)', 1),
 ('Queen', 34),
 ('Margot', 2),
 ('(Reine', 1),
 ('Margot,', 1),
 ('Quick', 4),
 ('Dead,', 16),
 ('Roommates', 1),
 ('Ready', 2),
 ('Wear', 3),
 ('(Pret-A-Porter)', 1),
 ('Colors:', 3),
 ('Red', 105),
 ('(Trois', 4),
 ('couleurs:', 2),
 ('Rouge)', 1),
 ('Bleu)', 1),
 ('(Trzy', 1),
 ('kolory:', 1),
 ('Bialy)', 1),
 ('Firecracker,', 1),
 ('Green', 46),
 ('Firecracker', 3),
 ('(Pao', 1),
 ('Da', 5),
 ('Shuang', 1),
 ('Deng)', 1),
 ('Rent-a-Kid', 1),
 ('Relative', 4),
 ('Fear', 44),
 ('Stuart', 4),
 ('Saves', 3),
 ('His', 40),
 ('Swan', 6),
 ('Secret', 69),
 ('Roan', 1),
 ('Inish,', 1),
 ('Specialist,', 2),
 ('Stargate', 2),
 ('Santa', 23),
 ('Clause,', 2),
 ('Shawshank', 1),
 ('Redemption,', 2),
 ('Shallow', 2),
 ('Grave', 17),
 ('Suture', 1),
 ('Strawberry', 5),
 ('(Fresa', 1),
 ('y', 26),
 ('Swimming', 5),
 ('Sharks', 2),
 ('Sum', 2),
 ('Us,', 8),
 ('National', 18),
 ("Lampoon's", 16),
 ('Senior', 2),
 ('Trip', 19),
 ('Live', 62),
 ('(Huozhe)', 1),
 ('Tank', 5),
 ('Tales', 37),
 ('from', 202),
 ('Crypt', 3),
 ('Presents:', 9),
 ('Demon', 14),
 ('Trek:', 6),
 ('Generations', 1),
 ('Viv', 1),
 ('Village', 10),
 ('Damned', 11),
 ('Tommy', 3),
 ('Boy', 73),
 ('Vanya', 1),
 ('42nd', 2),
 ('Underneath', 2),
 ("What's", 14),
 ('Eating', 3),
 ('Gilbert', 1),
 ('Grape', 1),
 ('Virtuosity', 1),
 ('Sleeping', 16),
 ('War,', 16),
 ('Double', 32),
 ("Muriel's", 1),
 ('Wedding', 42),
 ('Baby-Sitters', 1),
 ('Club,', 18),
 ('Pet', 6),
 ('Detective', 14),
 ('Priscilla,', 1),
 ('Desert,', 3),
 ('Backbeat', 1),
 ('Bitter', 11),
 ('Moon', 67),
 ('Bullets', 10),
 ('Over', 45),
 ('Broadway', 20),
 ('Clear', 9),
 ('Present', 3),
 ('Danger', 7),
 ('Client,', 1),
 ('Corrina,', 1),
 ('Corrina', 1),
 ('Crooklyn', 1),
 ('Crow,', 2),
 ('Cobb', 1),
 ('Flintstones,', 1),
 ('Forrest', 1),
 ('Gump', 1),
 ('Weddings', 4),
 ('Funeral', 6),
 ('Higher', 5),
 ('Learning', 4),
 ('I', 286),
 ('Trouble', 35),
 ('Could', 15),
 ('Happen', 4),
 ('Jungle', 20),
 ('Book,', 3),
 ('Wonderful,', 1),
 ('Horrible', 5),
 ('Leni', 2),
 ('Riefenstahl,', 2),
 ('(Macht', 1),
 ('der', 42),
 ('Bilder:', 1),
 ('Die)', 21),
 ('Lion', 10),
 ('Buddha', 2),
 ('Wes', 1),
 ("Craven's", 1),
 ('Nightmare', 20),
 ('(Nightmare', 2),
 ('Elm', 9),
 ('7:', 8),
 ("Freddy's", 4),
 ('Finale,', 1),
 ('A)', 23),
 ('Mask,', 5),
 ('Maverick', 2),
 ('Mrs.', 26),
 ('Parker', 4),
 ('Vicious', 3),
 ('Naked', 32),
 ('Gun', 40),
 ('33', 3),
 ('1/3:', 1),
 ('Final', 48),
 ('Insult', 1),
 ('Paper,', 2),
 ('Reality', 6),
 ('Bites', 4),
 ('Rock', 38),
 ('West', 41),
 ('Richie', 1),
 ('Rich', 11),
 ('Passage', 9),
 ('River', 41),
 ('Wild,', 7),
 ('Speed', 9),
 ('Speechless', 1),
 ('Timecop', 1),
 ('True', 37),
 ('Lies', 16),
 ('Wolf', 32),
 ('Wyatt', 2),
 ('Earp', 1),
 ('Company', 23),
 ('No', 113),
 ('Importance,', 1),
 ('S.F.W.', 1),
 ('Low', 9),
 ('Dirty', 35),
 ('Shame,', 2),
 ('Colonel', 4),
 ('Chabert,', 1),
 ('Le', 44),
 ('Faster', 2),
 ('Pussycat!', 1),
 ('Kill!', 3),
 ('(1965)', 166),
 ("Jason's", 1),
 ('Lyric', 1),
 ('Thumb,', 1),
 ('Fighter', 8),
 ('Coldblooded', 1),
 ('Desert', 21),
 ('Winds', 4),
 ('Fear,', 3),
 ('Ollie', 2),
 ('Cadillac', 6),
 ('Homage', 2),
 ('Mirage', 3),
 ('Open', 19),
 ('Season', 19),
 ('Crimes', 9),
 ('(Dos', 2),
 ('crímenes)', 1),
 ('Brother', 19),
 ('Minister:', 1),
 ('Assassination', 13),
 ('Malcolm', 2),
 ('X', 24),
 ('Highlander', 3),
 ('III:', 34),
 ('Sorcerer', 3),
 ('Highlander:', 4),
 ('Dimension)', 1),
 ('Federal', 1),
 ('Hill', 23),
 ('Mouth', 7),
 ('8', 17),
 ('Seconds', 10),
 ('Above', 18),
 ('Rim', 2),
 ('Addams', 3),
 ('Values', 1),
 ('Martin', 10),
 ('Lawrence:', 1),
 ('So', 34),
 ('Age', 27),
 ('Innocence,', 4),
 ('Airheads', 1),
 ('Air', 21),
 ('There,', 4),
 ('Another', 33),
 ('Stakeout', 3),
 ('Barcelona', 2),
 ('Being', 20),
 ('Beverly', 12),
 ('Hillbillies,', 1),
 ('Hills', 18),
 ('Blink', 2),
 ('Blown', 2),
 ('Away', 28),
 ('Chips', 3),
 ('Snatchers', 3),
 ('Boxing', 2),
 ('Helena', 2),
 ('Tale,', 13),
 ('Cabin', 7),
 ('Calendar', 3),
 ("Carlito's", 2),
 ('Way', 72),
 ('Slickers', 3),
 ('II:', 65),
 ('Legend', 67),
 ("Curly's", 1),
 ('Gold', 31),
 ('Clean', 3),
 ('Slate', 1),
 ('Cliffhanger', 1),
 ('Coneheads', 1),
 ('Color', 15),
 ('Cops', 8),
 ('Robbersons', 1),
 ('Cowboy', 11),
 ('Way,', 11),
 ('Dave', 5),
 ('Dazed', 1),
 ('Confused', 1),
 ('Demolition', 1),
 ('Endless', 5),
 ('2,', 25),
 ('Even', 9),
 ('Cowgirls', 1),
 ('Blues', 31),
 ('Fatal', 6),
 ('Instinct', 5),
 ('Farewell', 7),
 ('Concubine', 2),
 ('(Ba', 1),
 ('wang', 5),
 ('bie', 1),
 ('ji)', 4),
 ('Favor,', 1),
 ('Fearless', 8),
 ('Hat', 2),
 ('Honors', 1),
 ('Flesh', 24),
 ('Bone', 10),
 ("Widows'", 1),
 ('Peak', 2),
 ('or', 62),
 ('Firm,', 2),
 ('Fresh', 4),
 ('Fugitive,', 2),
 ('Geronimo:', 1),
 ('Getaway,', 3),
 ('Getting', 12),
 ('Dad', 8),
 ('Go', 60),
 ('Fish', 22),
 ('Good', 93),
 ('Africa,', 1),
 ('Guilty', 8),
 ('as', 28),
 ('Sin', 11),
 ('Hard', 29),
 ('Heaven', 47),
 ('Earth', 55),
 ('Hot', 33),
 ('Shots!', 2),
 ('Deux', 2),
 ('Nude', 7),
 ('Englishman', 2),
 ('Who', 104),
 ('Went', 12),
 ('But', 26),
 ('Came', 26),
 ('Mountain,', 7),
 ('Spirits,', 1),
 ('3', 72),
 ('Hudsucker', 1),
 ('Proxy,', 1),
 ("I'll", 12),
 ('Anything', 8),
 ('Army', 19),
 ('Fire', 53),
 ('Name', 25),
 ('Inkwell,', 1),
 ('Got', 16),
 ('It?', 3),
 ('Jimmy', 10),
 ('Judgment', 4),
 ('Jurassic', 3),
 ('Park', 32),
 ('Kalifornia', 1),
 ('Killing', 28),
 ('Zoe', 1),
 ('Lassie', 5),
 ...]

# SQL, Hive e HiveQL

O Hive é um data warehouse construído sobre o Hadoop, que possui uma interface SQL para consultar e manipular dados armazenados em sistemas de arquivos distribuídos. Ele utiliza o HiveQL, uma linguagem semelhante ao SQL.

O Spark possui uma integração nativa com o Hive. Isso significa que o Spark pode ser utilizado como motor de execução para as consultas HiveQL.

> **nota**. Inicialmente, o Hive utiliza(va?) o MapReduce como motor de execução. O MapReduce, embora seja um paradigma poderoso para processamento de grandes volumes de dados, pode ser lento para consultas iterativas e complexas. O Spark, com seu modelo de programação em memória, oferece assim um desempenho superior.

Tabelas Hive podem ser criadas diretamente através do Spark.

In [ ]:
# Criar um DataFrame
data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name", "age"])

# Criar o esquema (se necessário)
spark.sql("CREATE SCHEMA my_database")

# Salvar o DataFrame na tabela
df.write.format("parquet").mode("overwrite").saveAsTable("my_database.my_table")

In [ ]:
!ls /content/spark-warehouse/my_database.db/my_table

part-00000-e732b080-bb4d-4e44-8777-e5577b8de0cb-c000.snappy.parquet  _SUCCESS
part-00001-e732b080-bb4d-4e44-8777-e5577b8de0cb-c000.snappy.parquet

In [ ]:
result = spark.sql("SELECT * FROM my_database.my_table WHERE age == 25")

result.show(5)

+-----+---+
| name|age|
+-----+---+
|Alice| 25|
+-----+---+

## SQL em dataframes e RDDs

In [ ]:
movies_with_year_df.createOrReplaceTempView("movies")

# Executando uma consulta SQL
result = spark.sql("SELECT * FROM movies WHERE year == 1990")

result.show(5)

+---+--------------------+----+
| ID|               title|year|
+---+--------------------+----+
|586|   Home Alone (1990)|1990|
|587|        Ghost (1990)|1990|
|590|Dances with Wolve...|1990|
|597| Pretty Woman (1990)|1990|
|625|  Asfour Stah (1990)|1990|
+---+--------------------+----+
only showing top 5 rows